html, body {
    margin: 0;
    height: 100%;
}

body > .container {
    height: 100%;
}

.page-auth {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background {
    background-image: url('/assets/img/minimercado.jpg');
}

.page-auth .content {
    background-color: none !important;
}

.page-header {
    margin-bottom: 30px;
}

.page-header h1 small {
    font-size: 24px;
    opacity: 0.6;
}

.page-header h3 small {
    font-size: 22px;
    opacity: 0.6;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: 500;
    margin: 0 0 5px;
}

.products-itens {
    margin-bottom: 15px;
}

a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: inherit;
  }

table {
    text-align: center;
}

.table-options {
    display: flex;
    justify-content: center;
}

.table-options > .btn {
    margin-right: 3px;
}

.buttons {
    margin-right: 4px;
}

.page-controls {
    margin-bottom: 10px;
}

.page-message > h4 small {
    opacity: 0.6;
}

.paginate {
    display: flex;
    justify-content: center;
}

.nav-item.dropdown-menu {
    margin-right: 10px;
}

.page-auth .page-header h1{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.page-auth .content {
    background-color: #ffffff;
    border-radius: 25px;
}

.checkbox-user {
    margin-right: -60px;
}

.selects-form {
    margin-left: 10px;
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
}
